body{
    background-color: black;
}
h1{
    font-family: 'Caveat', cursive;
    color: white;
    background-color: black;
    text-align: center;
}

#image{
    border: 5px solid white;
    width: 100%;
}

p{
    color: white;
}

#poster{
    text-align: center;
    width: 50%;
    margin-left: 25%;
}